[Unit]
Description=Wolf / Games On Whales
Requires=network-online.target podman.socket
After=network-online.target podman.socket

[Service]
TimeoutStartSec=900
ExecStartPre=-/usr/bin/podman rm --force WolfPulseAudio
Restart=on-failure
RestartSec=5
StartLimitBurst=5

[Container]
AutoUpdate=registry
ContainerName=%p
HostName=%p
Image=ghcr.io/games-on-whales/wolf:stable
Network=host
SecurityLabelDisable=true
PodmanArgs=--ipc=host --device-cgroup-rule "c 13:* rmw"
AddDevice=/dev/dri
AddDevice=/dev/uinput
AddDevice=/dev/uhid
Volume=/dev/:/dev/:rw
Volume=/run/udev:/run/udev:rw
Volume=/home/wolf/wolf-app-state:/etc/wolf:z
Volume=/run/podman/podman.sock:/var/run/docker.sock:ro
Environment=WOLF_STOP_CONTAINER_ON_EXIT=TRUE

[Install]
WantedBy=multi-user.target
