*.swp
*.swo
.netrwhist
viminfo
.vim/backup
.vim/undo
.vim/swp
node_modules

# k9s config.yml since it is mutable
.config/k9s/config.yml

# chrome-theme cache
".config/chrome/chrome-theme/Cached Theme.pak"

# ignore arkdep-build target directory
linux/arkane/target
linux/arkane-tv/target
linux/arkane-sunshine/target

# ignore display configuration
.config/hypr/monitors.conf
.config/sway/monitors.conf

# ignore current hardware configuration file in nixos setup
.config/nixpkgs/nixos/hardware-configuration.nix

# ignore lazuvim cache
.config/nvim/lazy-lock.json
