

* {
    border: none;
    border-radius: 0;
    font-family: Terminus, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #242933;
    border-bottom: 1px solid transparent;
    color: white;
}

#workspaces button {
    padding: 0 15px;
    margin: 0 0px;
    color: #D8DEE9;
    border-bottom: 0px solid transparent;
}

#workspaces button.focused {
    background: #3D3F4C;
    color: #D8DEE9;
    border-bottom: 0px solid @color15;
}

#mode {
    background: transparent;
    border-bottom: 0px solid @color15;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #temperature, #backlight, #idle_inhibitor, #custom-sl, #custom-spotify {
    padding: 0 6px;
    margin: 0 5px;
}

#clock {
    background-color: transparent;
    color: white;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
}

@keyframes blink {
    to {
        background-color: #010101;
    }
}

#battery.warning:not(.charging) {
    background: #BF616A;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    border-bottom: 0px solid @color5;
    color: white;
}

#memory {
    background: transparent;
    border-bottom: 0px solid @color7;
    color: white;
}

#network {
    background: transparent;
    color: white
}

#network.disconnected {
    background: transparent;
    color: crimson;
}

#pulseaudio {
    background: transparent;
    color: white;
}

#pulseaudio.muted {
    border-bottom: 0px solid @color1
}

#tray {
    background-color: transparent;
}
