[Unit]
Description=Install Fedora system Flatpaks on first boot
Documentation=https://docs.fedoraproject.org/en-US/bootc/
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/share/fedora/flatpak.list
ConditionPathExists=!/var/lib/fedora/.flatpak-installed

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/fedora-flatpak-install
ExecStartPost=/usr/bin/mkdir -p /var/lib/fedora
ExecStartPost=/usr/bin/touch /var/lib/fedora/.flatpak-installed

[Install]
WantedBy=multi-user.target
