[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dsbundschuh/config]
row=3
col=0

[/home/dsbundschuh/games]
row=7
col=0

[/home/dsbundschuh/storage]
row=8
col=0

[/home/dsbundschuh/cdarmi_elster.pfx]
row=5
col=0

[/home/dsbundschuh/downloads]
row=1
col=1

[/home/dsbundschuh/backup]
row=4
col=0

[/home/dsbundschuh/documents]
row=0
col=1

[/home/dsbundschuh/workspace]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dsbundschuh]
row=2
col=0

