[Unit]
Description=Suspend hyprland
Before=systemd-suspend.service
Before=systemd-hibernate.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/suspend-hyprland suspend

[Install]
WantedBy=systemd-suspend.service
WantedBy=systemd-hibernate.service
